<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/HP/IdeaProjects/meet-a-stranger/pizza-split/MavenFirstProject/src/test/java/org/example/AppTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://mail.google.com"></parameter>
        <classes>
            <class name="org.example.AppTest"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="test2">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://mail.google.com"></parameter>
        <classes>
            <class name="org.example.AppTest"></class>
        </classes>
    </test>
</suite>